.gap-16{
  gap: 16px;
}
.gap-24{
  gap: 24px;
}
.subtitle{
  color: var(--main-red);
  font-family: var(--font-family-inconsolata);
}
.card-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;

  padding: 16px;
  gap: 8px;

  background-color: var(--base-gray-300);


}
