.gap-16{
  gap: 16px;
}
.gap-24{
  gap: 24px;
}
.card-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;

  padding: 16px;
  gap: 8px;

  background-color: var(--base-gray-300);


}
.github {
  width: 114px;
  height: 40px;
}
.css {
  width: 92px;
  height: 40px;
}
.js {
  width: 138px;
  height: 40px;
}
.react {
  width: 106px;
  height: 40px;
}
.html {
  width: 105px;
  height: 40px;
}
.node {
  width: 119px;
  height: 40px;
}